@charset "UTF-8";body,html {
    font-size: 16px!important
}

*,::after,::before {
    box-sizing: border-box
}

.dds__drawer__overlay--overflow-hidden {
    height: auto
}

.acs-main {
    margin: 0 40px 24px 40px
}

@media screen and (max-width: 767.5px) {
    .acs-main {
        margin:8px 0 8px 0
    }
}

@media screen and (min-width: 768px) and (max-width:1023px) {
    .acs-main {
        margin:0 32px 24px 32px
    }
}

.acs-main>.acs-subtotal {
    margin-top: 24px
}

.acs-main>.acs-subtotal a:focus {
    box-shadow: 0 0 0 1px #eee,0 0 0 4px #00468b
}

@media screen and (max-width: 767.5px) {
    .acs-main>.acs-subtotal {
        margin-top:8px;
        padding: 0
    }
}

.acs-main>.microsurvey {
    margin-top: 24px
}

@media screen and (max-width: 767.5px) {
    .acs-main>.microsurvey {
        margin-top:8px;
        padding: 0
    }
}

.acs-main>.acs-category-tabs {
    margin-top: 24px
}

@media screen and (max-width: 767.5px) {
    .acs-main>.acs-category-tabs {
        margin:16px 16px 0 16px
    }
}

.acs-main.dds__reboot-wrapper a {
    text-decoration: none!important
}

.acs-main.dds__reboot-wrapper a:hover {
    text-decoration: underline!important
}

.acs-main a:focus,.acs-main button:focus-visible {
    box-shadow: 0 0 0 2px #fff,0 0 0 4px #00468b;
    border-radius: 2px;
    outline: 0
}

@media (max-width: 767px) {
    .acs-main .acs-subtotal-fixed {
        position:sticky;
        bottom: 0;
        width: 100%;
        z-index: 1000
    }
}

@media screen and (max-width: 767.5px) {
    [component=floatingbutton] .uc-floating-button {
        bottom:72px!important;
        z-index: 1014!important
    }

    .uc-modal-open {
        height: auto!important
    }
}

@media (min-width: 320px) and (max-width:1023px) {
    #consent-button-div #cmp-revoke-consent {
        left:6px!important
    }
}

@media screen and (max-width: 767.5px) {
    .dds__tabs__pane--body-overflow #cmp-revoke-consent {
        bottom:100px!important
    }
}

@media screen and (max-width: 767.5px) {
    .dds__drawer__overlay--overflow-hidden #cmp-revoke-consent {
        bottom:72px!important
    }
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0
}

@media (min-width: 1024px) {
    .crosssell-quick-view-wrapper .smart-popover-popup {
        left:unset;
        right: -308px;
        bottom: unset
    }

    .crosssell-quick-view-wrapper .smart-popover-popup .smart-popover-popup-arrow-bottom,.crosssell-quick-view-wrapper .smart-popover-popup .smart-popover-popup-arrow-left,.crosssell-quick-view-wrapper .smart-popover-popup .smart-popover-popup-arrow-right,.crosssell-quick-view-wrapper .smart-popover-popup .smart-popover-popup-arrow-top,.crosssell-quick-view-wrapper .smart-popover-popup [class*=smart-popover-popup-arrow-] {
        top: 0;
        bottom: 0;
        margin: auto;
        left: -8px;
        right: unset;
        transform: rotate(-45deg)
    }
}

a.technote.microcontent {
    padding: 1px!important;
    color: #006bbd!important
}

.swb-container {
    min-height: 3.3em
}

@media screen and (max-width: 767.5px) {
    .acs-sku__atc {
        position:fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        box-shadow: 0 -8px 8px 0 rgba(0,42,88,.08);
        padding: 12px 16px;
        background: #fff
    }
}

.dds__tabs__pane-container .acs-stack-info {
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center
}

@media screen and (max-width: 767.5px) {
    .dds__tabs__pane-container .acs-stack-info {
        margin-top:16px;
        display: block
    }
}

@media screen and (max-width: 767.5px) {
    .dds__tabs__pane-container .acs-stack-info .acs-results-count {
        display:flex;
        justify-content: center;
        gap: 4px
    }
}

@media screen and (max-width: 767.5px) {
    .dds__tabs__pane-container .acs-stack-info .acs-sort-by {
        justify-content:center;
        margin-top: 8px
    }
}

.dds__tabs__pane-container .acs-stack-info .acs-sort-by .acs-sort-by-label {
    margin-right: 8px
}

@media screen and (max-width: 767.5px) {
    .dds__tabs__pane-container .dds__tabs__pane__content {
        padding:0 16px
    }
}

.dds__tabs__pane-container>.dds__tabs__pane {
    border: 0 solid #fff!important;
    padding: 0!important;
    margin-top: 0!important
}

.dds__tabs__pane-container .acs-product-stack-content {
    margin-top: 12px
}

@media (min-width: 1584px) {
    .dds__tabs__pane-container .acs-product-stack-content {
        margin-top:8px
    }
}

@media (min-width: 1920px) {
    .dds__tabs__pane-container .acs-product-stack-content {
        margin-top:4px
    }
}

.dds__tabs__pane--body-overflow .acs-product-stack-content {
    margin-bottom: 80px
}

@media screen and (max-width: 767.5px) {
    .dds__tabs__pane-container>.acs_pane-none {
        display:none
    }
}

.dds__tabs .dds__tabs__tab {
    color: #636363
}

.dds__tabs .dds__tabs__tab.acs__tab-hz[aria-selected=true] {
    border-left: 1px solid #e1e1e1;
    border-right: 1px solid #e1e1e1;
    z-index: 2;
    background-color: #fff
}

.dds__tabs .dds__tabs__tab.acs__tab-hz[aria-selected=true]::before {
    left: -1px;
    top: 0;
    width: calc(100% + 2px)
}

.dds__tabs .acs__tab-arrow {
    display: none
}

@media screen and (max-width: 767.5px) {
    .dds__tabs .acs__tab[aria-selected=true] {
        color:#636363;
        border-left-width: 0!important;
        border-right-width: 0!important
    }

    .dds__tabs .dds__tabs__list-container::before {
        background-color: inherit
    }

    .dds__tabs .dds__tabs__list-container::after {
        background: 0 0!important
    }

    .dds__tabs #acs-tab-next {
        right: -8px
    }

    .dds__tabs #acs-tab-prev {
        left: -8px
    }

    .dds__tabs .acs__tab-arrow {
        position: absolute;
        display: inline-flex;
        color: #066dc1!important;
        padding: 0 5px;
        background: #fff;
        height: 69px;
        align-items: center!important
    }

    .dds__tabs .acs__tab-arrow.dds__d-none {
        display: none!important
    }

    .dds__tabs .acs__tab-arrow-disabled {
        pointer-events: none;
        text-decoration: none;
        cursor: not-allowed
    }

    .dds__tabs .acs__tab-arrow-disabled svg {
        opacity: .4
    }

    .dds__tabs .acs__tab-hz[aria-selected=true] {
        border-left-width: 0!important;
        border-right-width: 0!important;
        border-bottom: 3px solid #006bbd;
        background-color: #f5f6f7!important;
        color: #066dc1
    }

    .dds__tabs .acs__tab[aria-selected=true]::before {
        height: 0
    }

    .dds__tabs .acs__tab-hz[aria-selected=true]::before {
        height: 0
    }

    .dds__tabs .acs-tab-icon {
        display: none!important
    }

    .dds__tabs .acs__tabs_hz_menu_fixed {
        position: sticky;
        top: 0;
        z-index: 1040;
        padding: 0 10px;
        left: 0;
        right: 0;
        transform: translateZ(0);
        -webkit-transform: translateZ(0);
        background-color: #fff;
        transform-style: preserve-3d;
        -webkit-transform-style: preserve-3d;
    }

    .dds__tabs .acs__tabs_hz_menu_fixed.acs__tabs--center {
        margin: 0 12.5px;
        box-shadow: none
    }

    .dds__tabs .acs__tabs_hz_menu_fixed.acs__tabs--center .acs__tab-hz[aria-selected=true] {
        background-color: #fff!important
    }

    .dds__tabs .acs__tabs_hz_menu_fixed .dds__tabs__list {
        margin: 0 5px!important
    }

    .dds__tabs.acs__tabs_hz .dds__tabs__list-container {
        display: flex;
        align-items: center;
        flex-direction: row;
        gap: 8px
    }

    .dds__tabs.acs__tabs_hz .dds__tabs__list {
        padding: 5px 0!important;
        margin-left: 16px;
        margin-right: 16px;
        margin-bottom: 0;
        background-color: #fff
    }

    .dds__tabs.acs__tabs_hz .acs__tabs--center {
        justify-content: space-around
    }

    .dds__tabs.acs__tabs_hz .acs__tabs--center .acs__tab-hz {
        border-bottom: 0;
        color: #0e0e0e!important;
        z-index: 0;
        background: #fff!important
    }

    .dds__tabs.acs__tabs_hz .acs__tabs--center::before {
        border-bottom: #e1e1e1 2px solid
    }

    .dds__tabs .dds__tabs__tab__image>img {
        bottom: 0;
        left: 0;
        margin: auto;
        min-height: 64px;
        min-width: 64px;
        position: absolute;
        right: 0;
        top: 0;
        transform: none
    }
}

@media (min-width: 767px) {
    .dds__tabs .dds__tabs__tab__image {
        display:none!important
    }
}

.acs-financing__dfs-title {
    padding-bottom: 5px;
    font-weight: 700
}

.acs-financing__dfs-links a {
    color: #006bbd
}

.acs-financing__dfs-links .pipe::after {
    color: #444;
    content: "|";
    display: inline-block
}

.acs-financing__emi>a {
    text-decoration: none
}

.acs-financing__emi>p>a {
    text-decoration: none
}

.acs-financing__rate>div,.acs-financing__term>div {
    font-size: 14px
}

.acs-sku-ratings>span {
    display: inline-block
}

.acs-sku-ratings__star {
    background: 0 0;
    color: #eee;
    font-size: 20px;
    height: 20px;
    position: relative;
    display: inline-block
}

.acs-sku-ratings__star::before {
    content: "★★★★★"
}

.acs-sku-ratings__star::after {
    content: "★★★★★";
    position: absolute;
    color: #006bbd;
    z-index: 1;
    display: block;
    left: 0;
    top: 0;
    width: var(--acs-sku-rating-per);
    overflow: hidden
}

.acs-loader {
    position: fixed;
    z-index: 1051;
    top: 0;
    left: calc(50% - 40px);
    height: 100vh
}

.dds__loading-indicator__spinner {
    z-index: 1051
}

.acs-sku__img {
    display: flex;
    min-height: 300px;
    justify-content: space-around;
    align-items: center
}

.acs-sku__img div {
    text-align: center
}

.acs-sku__img img {
    width: 100%
}

@media screen and (min-width: 768px) and (max-width:1023px) {
    .acs-sku__img img {
        width:50%
    }
}

@media screen and (max-width: 767.5px) {
    .acs-sku__img img {
        width:65%
    }
}

.acs__msg-bar {
    display: flex;
    justify-content: center;
    margin: 8px
}

.acs__msg-bar>.dds__message-bar {
    max-width: fit-content
}

.acs__msg-bar>.dds__message-bar>svg {
    fill: #0063b8;
    width: 32px;
    height: 16px
}

.acs__msg-bar .dds__message-bar--error {
    box-shadow: 0 2px 2px rgba(0,42,88,.08),0 4px 4px rgba(0,42,88,.08),0 8px 8px rgba(0,42,88,.08)
}

.acs__msg-bar .dds__message-bar--error>svg {
    fill: #bb2a33
}

.acs__msg-bar .dds__message-bar--warning>svg {
    fill: #925400
}

.acs__msg-bar .dds__message-bar--success>svg {
    fill: #436f00
}

.acs-sku {
    padding: 0;
    background-color: #fff
}

@media (min-width: 320px) and (max-width:1023px) {
    .acs-sku {
        padding-left:0!important;
        padding-right: 0!important
    }
}

@media (min-width: 1024px) {
    .acs-sku-stack {
        padding-right:32px!important
    }
}

.acs-sku-stack-title {
    word-break: break-word
}

.acs-sku-overview>.acs-sku__desc {
    margin-bottom: 24px
}

.acs-sku-overview>.acs-sku__desc>h5 {
    margin-bottom: 12px
}

@media screen and (max-width: 767.5px) {
    .acs-sku-overview>.acs-sku__desc>h5 {
        margin-bottom:8px;
        margin-top: 24px
    }
}

@media (min-width: 320px) and (max-width:1023px) {
    .acs-sku-overview {
        border-top:1px solid #e1e1e1
    }
}

@media screen and (max-width: 767.5px) {
    .acs-sku-overview {
        padding-bottom:48px
    }
}

.acs-sku__product-stack-container {
    margin-top: 16px;
    margin-bottom: 16px
}

@media screen and (max-width: 767.5px) {
    .acs-sku__product-stack-container .async-buy-button {
        position:fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        box-shadow: 0 -8px 8px 0 rgba(0,42,88,.08);
        padding: 12px 16px;
        background: #fff
    }
}

.acs-sku__elipsis::after {
    content: "..."
}

.acs-sku__more-less {
    cursor: pointer;
    background-color: rgba(0,0,0,0);
    color: #0672cb;
    text-decoration: underline
}

.acs-sku__more-less:focus {
    box-shadow: 0 0 0 2px #fff,0 0 0 4px #00468b;
    border-radius: 2px;
    outline: 0
}

.acs-page-title {
    margin-top: 24px;
    text-align: center;
    padding: 0 16px;
    color: #0e0e0e!important
}

.acs-page-title>h1 {
    color: #0e0e0e!important;
    margin-bottom: 8px!important
}

.acs-page-title .dds__body-1 b {
    font-weight: 500
}

@media screen and (max-width: 767.5px) {
    .acs-page-title {
        margin-top:16px
    }

    .acs-page-title>h1 {
        margin-bottom: 12px!important;
        font-size: 24px;
        line-height: 32px;
        font-weight: 400
    }

    .acs-page-title .dds__body-1 {
        font-size: 16px;
        line-height: 24px;
        font-weight: 400
    }
}

.acs-empty-product-stack {
    max-width: 630px;
    margin: 80px auto
}

@keyframes wave-lines {
    0% {
        background-position: -468px 0
    }

    100% {
        background-position: 468px 0
    }
}

.acs_ps-skel-ctr {
    display: flex;
    flex-direction: wrap row;
    justify-content: left;
    align-items: flex-start
}

.acs_skel-info {
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center
}

.acs_skel {
    padding: 15px;
    width: calc((99.9% - 96px)/ 4);
    background: #fff;
    margin: 12px 8px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    border: 1px solid #e1e1e1;
    box-sizing: border-box;
    border-radius: 2px
}

.acs_bg {
    height: 12px;
    margin-bottom: 6px;
    border-radius: 2px;
    background: rgba(130,130,130,.2);
    background: linear-gradient(to right,rgba(130,130,130,.2) 8%,rgba(130,130,130,.3) 18%,rgba(130,130,130,.2) 33%);
    background-size: 800px 100px;
    animation: wave-lines 2s infinite ease-out
}

.skel_image {
    height: 200px!important;
    width: 100%
}

.skel_title {
    margin-top: 10px;
    height: 35px!important;
    width: 100%
}

.skel_ratings {
    margin-top: 5px;
    height: 20px!important;
    width: 50%
}

.skel_price {
    width: 100%;
    height: 28px
}

.skel_cfc {
    width: 65%;
    height: 25px
}

.skel_fin {
    width: 90%;
    height: 28px
}

.skel_cta {
    width: 40%;
    height: 38px
}

.skel_result {
    width: 8%;
    height: 25px
}

.skel_sort {
    width: 15%;
    height: 26px
}

@media screen and (max-width: 767.5px) {
    .acs_skel-info {
        flex-direction:column;
        justify-content: center;
        margin-top: 10px
    }

    .skel_result {
        width: 25%
    }

    .skel_sort {
        width: 65%
    }

    .acs_ps-skel-ctr {
        flex-direction: column
    }

    .acs_skel {
        width: 90%;
        margin: 8px 16px
    }

    .skel_image {
        height: 150px!important;
        width: 100%
    }

    .skel_title {
        height: 25px!important
    }

    .skel_ratings {
        margin-top: 2px
    }

    .skel_price {
        margin-top: 12px;
        width: 80%;
        height: 35px
    }

    .skel_cfc {
        display: none
    }

    .skel_fin {
        display: none
    }

    .skel_cta {
        margin-top: 14px;
        width: 100%
    }
}

@media screen and (min-width: 768px) and (max-width:1023px) {
    .acs_ps-skel-ctr {
        display:flex;
        flex-wrap: wrap;
        justify-content: left;
        align-items: flex-start
    }

    .skel_result {
        width: 15%
    }

    .skel_sort {
        width: 35%
    }

    .acs_skel {
        width: calc((99.9% - 32px)/ 2)!important;
        margin: 12px 8px
    }

    .skel_image {
        height: 150px!important;
        width: 100%
    }

    .skel_fin {
        display: none
    }

    .skel_cta {
        margin-top: 15px;
        width: 100%
    }
}

@media (min-width: 1024px) and (max-width:1365px) {
    .acs_ps-skel-ctr {
        display:flex;
        flex-wrap: wrap;
        justify-content: left;
        align-items: flex-start
    }

    .skel_sort {
        width: 20%;
        height: 26px
    }

    .acs_skel {
        width: calc((99.9% - 75px)/ 3)
    }
}

@media (min-width: 320px) and (max-width:1023px) {
    .dds__drawer__container {
        max-width:100%;
        width: 100%;
        min-width: 0
    }
}

@media (min-width: 1024px) {
    .dds__drawer__container {
        width:920px
    }
}

@media (min-width: 320px) and (max-width:1023px) {
    .dds__drawer__container .dds__drawer__header {
        padding-left:16px
    }
}

.dds__drawer__container .dds__drawer__body {
    padding: 24px
}

@media (min-width: 320px) and (max-width:1023px) {
    .dds__drawer__container .dds__drawer__body {
        padding:16px
    }
}

.acs-sort-by {
    display: flex;
    align-items: center
}

.acs-sort-by select {
    width: 224px
}

.acs-sort-by>.acs-sort-by-label {
    display: inline-block;
    margin-right: 8px;
    color: #444
}

.acs-subtotal-summary {
    padding: 16px;
    background-color: #eee
}

@media screen and (max-width: 767.5px) {
    .acs-subtotal-summary {
        padding:10px 14px 13px 14px
    }
}

.acs-subtotal-summary>div {
    display: flex
}

.acs-subtotal-summary>div>.acs-summary__info {
    color: #444
}

.acs-subtotal-summary>div>.acs-summary__info .dds__h5 {
    margin-bottom: 5px
}

.acs-subtotal-summary>div>.acs-summary__info .dds__h5 .acs-subtotal-label {
    color: #636363
}

.acs-subtotal-summary>div>.acs-summary__info .dds__h5 .acs-subtotal-value {
    color: #3b5702
}

@media screen and (max-width: 767.5px) {
    .acs-subtotal-summary>div>.acs-summary__cta {
        margin-top:10px
    }
}

.dds__button {
    border-radius: 2px!important
}

@media screen and (max-width: 767.5px) {
    .acs__tab-hz-subtotal .acs-subtotal-summary,.dds__tabs__pane--body-overflow .acs-subtotal-summary {
        z-index:1040;
        position: sticky;
        padding: 12px 16px;
        left: 0;
        right: 0;
        bottom: 0;
        background: #fff;
        box-shadow: 0 -2px 2px rgba(0,42,88,.08),0 -4px 4px rgba(0,42,88,.08),0 -8px 8px rgba(0,42,88,.08)
    }

    .acs__tab-hz-subtotal .acs-subtotal-summary>div,.dds__tabs__pane--body-overflow .acs-subtotal-summary>div {
        display: flex;
        justify-content: space-between;
        flex-direction: row!important;
        align-items: center;
        flex-wrap: wrap;
        gap: 0 8px
    }

    .acs__tab-hz-subtotal .acs-subtotal-summary>div .acs-subtotal-label,.dds__tabs__pane--body-overflow .acs-subtotal-summary>div .acs-subtotal-label {
        display: none
    }

    .acs__tab-hz-subtotal .acs-subtotal-summary>div .acs-subtotal-value,.dds__tabs__pane--body-overflow .acs-subtotal-summary>div .acs-subtotal-value {
        color: #0e0e0e!important;
        font-size: 21px;
        line-height: 32px;
        letter-spacing: .01em;
        margin-bottom: 0
    }

    .acs__tab-hz-subtotal .acs-subtotal-summary>div .acs-financing,.dds__tabs__pane--body-overflow .acs-subtotal-summary>div .acs-financing {
        display: none
    }

    .acs__tab-hz-subtotal .acs-subtotal-summary>div .acs-vdi,.dds__tabs__pane--body-overflow .acs-subtotal-summary>div .acs-vdi {
        display: none
    }

    .acs__tab-hz-subtotal .acs-subtotal-summary>div .acs-summary__cta,.dds__tabs__pane--body-overflow .acs-subtotal-summary>div .acs-summary__cta {
        margin-top: 0
    }
}

.acs-sku__specs>h5 {
    margin-bottom: 16px
}

.acs-sku__specs-item {
    display: flex;
    flex-direction: row;
    border-top: .62px solid #e1e1e1;
    word-break: break-word
}

.acs-sku__specs-item>div {
    flex-grow: 1;
    border-right: #e1e1e1 .62px solid;
    padding: 16px
}

.acs-sku__specs-item>div:first-child {
    width: 50%;
    background: #f5f6f7;
    border-left: #e1e1e1 .62px solid
}

.acs-sku__specs-item>div:nth-child(2) {
    width: 50%;
    word-break: break-word;
    white-space: pre-line
}

@media screen and (min-width: 768px) and (max-width:1023px) {
    .acs-sku__specs-item>div:first-child {
        width:30%
    }

    .acs-sku__specs-item>div:nth-child(2) {
        width: 70%
    }
}

.acs-sku__specs-item:last-child {
    border-bottom: .62px solid #e1e1e1
}

.acs-vdi {
    font-size: 12px
}

.acs-vdi__link>a {
    text-decoration: none;
    color: #006bbd
}
